/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/img/1.jpg
/resources/front/img/1.jpg
/public/img/2.jpg
/resources/front/img/2.jpg
/resources/front/js/bootstrap.bundle.js
/resources/front/js/bootstrap.bundle.js.map
/resources/front/js/bootstrap.bundle.min.js
/resources/front/js/bootstrap.bundle.min.js.map
/resources/front/css/bootstrap.css
/resources/front/css/bootstrap.css.map
/resources/front/js/bootstrap.js
/resources/front/js/bootstrap.js.map
/resources/front/css/bootstrap.min.css
/resources/front/css/bootstrap.min.css.map
/resources/front/js/bootstrap.min.js
/resources/front/js/bootstrap.min.js.map
/resources/front/css/bootstrap-grid.css
/resources/front/css/bootstrap-grid.css.map
/resources/front/css/bootstrap-grid.min.css
/resources/front/css/bootstrap-grid.min.css.map
/resources/front/css/bootstrap-reboot.css
/resources/front/css/bootstrap-reboot.css.map
/resources/front/css/bootstrap-reboot.min.css
/resources/front/css/bootstrap-reboot.min.css.map
/resources/front/js/jquery-3.5.1.slim.js
/package-lock.json

/routes/
